@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    /* border: 2px red solid; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* max-width: 800px;
    min-width: 600px; */
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
}

 .pageHeader {
height: 40px;
display: flex;
justify-content: space-between;
padding: 5px;
flex: 0.05;
/* background: url(../img/bg.jpg);
background-size: cover; */
}

.logo {
    /* height: 100%;
    width: 70px;
background-color: blue;
display: flex;
border-radius: 50% 20% 30% 10%;
justify-content: center;
align-items: center;
color: #fff;
border: 1px black solid;
margin: 10px; */
}

.logoName {
    font-weight: bold;
    font-size: 30px;
    color: red;
    margin: 10px;
    margin-left: 30px;
}

.topContent {
    flex: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContent {
    flex: 1;
    padding: 30px;
    display: flex;
    justify-content: center; 
}

.rightContent {
    flex: 1;
    padding: 30px;
    text-align: left;
}

.logoLink {
    text-decoration: none;
}

.mainSection {

    flex: 1;
    display: flex;
    overflow: auto; 
    flex-direction: column;
    margin: 20px;

}

.mainContent {
    flex: 1;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.mainContent img {
    max-height: 80vh;
}

.loginButton {
    width: 70px;
    height: 35px;
    margin: 10px;
    margin-right: 20px;
    opacity: 1;
    background-color: #64becd;
    color: white;
    border: 0px;
    border-radius: 15px;
}

.textBox {
    margin-top: 40px;
    font-size: 20px;
}

.boldText {
    font-weight: bold;
}

.imageDescription {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    margin: 10px;
}

.imageDescription img {
    display: block;
    margin: 5 auto;
}

.imageDescription p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: blue;
}

/*laver placering for knapperne*/
.ButtonPlaceMent{
    flex: 1;
    border: black;
    justify-content: center;
    text-align: center;
}

/*Laver styling for index knapperne*/
.StyleButton button{
    background-color: #64becd;
    border: none;
    border-radius: 40px;
    margin: 80px;
    width: 200px;
    height:100px;
    font-size: 25px;
}

/*laver indstillinger for admin siden*/
.AdminPage
{
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Titlen i formen*/
.AdminTitle
{
    color: white;
    font-size: 35px;
}

/*laver indstillinger på title til bokse*/
#Title
{
    color: white;
}

/*indstillinger på feltet E-mail*/
#AdminBrugernavn
{
    width: 300px;
    height: 30px;
    background-color: rgba(10, 43, 80, 0.171);
    border: none;
}

/*indstillinger på feltet password*/
#AdminPassword
{
    width: 300px;
    height: 30px;
    background-color: rgba(10, 43, 80, 0.171);
    border: none;
}

/*indstillinger for knappen*/
.SubmitButton
{
    border: none;
    color: white;
    background-color: #64becd;
    margin-left: 15px;
    width: 270px;
    height: 25px;
}



