@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    border: 2px red solid;
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 600px;
    margin: auto; 
    margin-left: auto;
    margin-right: auto;
}

.pageHeader {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    flex: 0.05;
    background: url(../img/bg.jpg);
    background-size: cover;
}

.logoName {
    color: #5a1400;
    font-weight: bold;
    font-size: 30px;
    margin: 10px;
    margin-left: 30px;
}

.topContent {
    flex: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContent {
    flex: 1;
    padding: 30px;
    display: flex;
    justify-content: center; 
}

.rightContent {
    flex: 1;
    padding: 30px;
    text-align: left;
}

.profilrightContent {
    flex: 1.2;
    padding: 30px;
    text-align: left;
}

.logoLink {
    text-decoration: none;
}

.mainSection {
    flex: 1;
    display: flex;
    overflow: auto; 
    flex-direction: column;
    margin: 20px;

}

.mainContent {
    flex: 1;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}

.mainContent img {
    max-height: 80vh;
}

.loginButton {
    width: 70px;
    height: 35px;
    margin-right: 20px; 
    opacity: 1;
    background-color: #64becd;
    color: white;
    border: 0px;
    border-radius: 15px;
} 

.logoutButton {
    width: 70px;
    height: 35px;
    margin: 10px; 
    margin-right: 20px; 
    opacity: 1;
    background-color: red;
    color: white;
    border: 0px;
    border-radius: 15px;
} 

.textBox {
    margin-top: 40px;
    font-size: 20px;
}

.boldText {
    font-weight: bold;
}

.imageDescription {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    margin: 10px;
}

.imageDescription img {
    display: block;
    margin: 5 auto;
}

.imageDescription p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: blue;
    text-decoration: none;
}

.imageDescription a{
    text-decoration: none;
}

.profilmainContent {
    justify-content: center;
    width: auto;
    height: auto;
    flex: 1;
    padding: 30px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.profiln {
    align-items: center;
    margin: 35px;
    display: flex;
    max-height: 20vh;
}

.profiln img {
    align-self: center;
    max-width: 15vh;
    max-height: 15vh;
}

.profiln p {
    text-align: left;
    margin: 16px;
    margin-left: 40px;
}

.active {
    display: inline;
    font-weight: bold;
    color: red;
}

.profil {
    max-width: 50vh;
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.profil img {
    max-width: 16vh;
}

.profil p {
    margin-top: 21px;
    color: black;
}

/*laver placering for knapperne*/
.ButtonPlaceMent{
    flex: 1;
    border: black;
    justify-content: center;
    text-align: center;
}

/*Laver styling for index knapperne*/
.StyleButton button{
    background-color: #64becd;
    border: none;
    border-radius: 40px;
    margin: 80px;
    width: 200px;
    height:100px;
    font-size: 25px;
}

/*laver indstillinger for admin siden*/
.AdminPage
{
    flex: 1;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Titlen i formen*/
.AdminTitle
{
    color: white;
    font-size: 35px;
}

/*laver indstillinger på title til bokse*/
#Title
{
    color: white;
}

/*indstillinger på feltet E-mail*/
#AdminBrugernavn
{
    width: 300px;
    height: 30px;
    background-color: rgba(10, 43, 80, 0.171);
    border: none;
}

/*indstillinger på feltet password*/
#AdminPassword
{
    width: 300px;
    height: 30px;
    background-color: rgba(10, 43, 80, 0.171);
    border: none;
}

/*indstillinger for knappen*/
.SubmitButton
{
    border: none;
    color: white;
    background-color: #64becd;
    margin-left: 15px;
    width: 270px;
    height: 25px;
}

/*indstillinger for titlen på fagsiderne*/
.ITFagTitle
{
    text-align: center;
    font-size: 40px;
    color: rgba(163, 13, 38, 0.76);
}

/*indstillinger for fagsidens venstre siden*/
.ITFagSite
{
   flex: 1;
   display: flex;  
   margin-top: 50px;  
}

/*INdstillinger for venstreside af siden*/
.LeftSide
{
    margin-left: 100px;
}
/*indstillinger på billedet*/
.ImgSupport
{
    height: 700px;
    width: 500px;

    min-width: 1%;
    min-height: 1%;
    max-height: 100%;
    max-width: 100%;
}  

/*Indstillinger af højre side*/
.RightSide
{
    margin-left: 50px;
}
