@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    /* border: 2px red solid; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* max-width: 800px;
    min-width: 600px; */
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
}

 .pageHeader {
height: 40px;
display: flex;
justify-content: space-between;
padding: 5px;
/* background: url(../img/bg.jpg);
background-size: cover; */
/* flex: 0.2; */
}

.logo {
    height: 100%;
    width: 70px;
background-color: blue;
display: flex;
border-radius: 50% 20% 30% 10%;
justify-content: center;
align-items: center;
color: #fff;
border: 1px black solid;
margin: 10px;
}

.logoName {
    font-weight: bold;
    font-size: 30px;
    color: red;
    margin: 10px;
    margin-left: 30px;
}

.topContent {
    flex: 0.1;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContent {
    flex: 1;
    padding: 30px;
    display: flex;
    justify-content: center;
}

/* .leftContent img {
} */

.rightContent {
    flex: 1;
    padding: 30px;
    text-align: left;
}

.logoLink {
    text-decoration: none;
}

.mainSection {
    
    border: rgba(0, 0, 0, 0.2);
    border-width: 3px;
    border-style: dashed;
    stroke-width: 10;
    stroke-dasharray: 20%2c 19%2c 18%2c 12;
    flex: 1;
    display: flex;
    overflow: auto; 
    flex-direction: column;
    margin: 20px;

}

.mainContent {
    flex: 1;
    display: flex;
    overflow: auto; 
}

.loginButton {
    width: 70px;
    height: 35px;
    margin: 10px;
    opacity: 1;
    background-color: #64becd;
    color: white;
    border: 0px;
    border-radius: 15px;
}







